{
  "CategoryName": "string",
  "Professions": [
    {
      "ID": "string",
      "Name": "string",
      "Aliases": ["string"],
      "Description": "string",
      "Subtypes": ["string"]
    }
  ],
  "LevelMastery": "string"
}