---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  <div class="post-list-container">
    {{ content }}

    {% assign all_sub_babs = site.cerita | sort: "chapter_title" | sort: "order" %}

    {% assign prev_sub_bab = nil %}
    {% assign next_sub_bab = nil %}

    {% for sub_bab in all_sub_babs %}
      {% if sub_bab.url == page.url %}
        {% assign current_index = forloop.index0 %}
        {% if current_index > 0 %}
          {% assign prev_index = current_index | minus: 1 %}
          {% assign prev_sub_bab = all_sub_babs[prev_index] %}
        {% endif %}
        {% assign last_index = all_sub_babs.size | minus: 1 %}
        {% if current_index < last_index %}
          {% assign next_index = current_index | plus: 1 %}
          {% assign next_sub_bab = all_sub_babs[next_index] %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="post-navigation d-flex justify-content-between mt-4">
      {% if prev_sub_bab %}
        <a href="{{ prev_sub_bab.url | relative_url }}" class="btn btn-outline-primary d-flex flex-column align-items-start text-start">
          <small class="text-muted">Previous Sub-bab</small>
          <span>&larr; {{ prev_sub_bab.title }}</span>
        </a>
      {% else %}
        <span></span>
      {% endif %}

      {% if next_sub_bab %}
        <a href="{{ next_sub_bab.url | relative_url }}" class="btn btn-outline-primary d-flex flex-column align-items-end text-end">
          <small class="text-muted">Next Sub-bab</small>
          <span>{{ next_sub_bab.title }} &rarr;</span>
        </a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </div>
</div><br><br><br>
    {% assign chapters_by_chapter_title = site.cerita | group_by: "chapter_title" | sort: "name" %}

    {% for chapter_group in chapters_by_chapter_title %}
      {% assign chapter_group_id = chapter_group.name | slugify %}
      
      <div class="card categories">
        <div class="card-header d-flex justify-content-between hide-border-bottom">
          <span class="ms-2">
            <h2 class="post-subtitle my-0">
              <a href="#{{ chapter_group_id }}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ chapter_group_id }}">
                Bab {{ chapter_group.name }}
              </a>
              {% assign sub_chapter_count = chapter_group.items | size %}
              <span class="text-muted small font-weight-light">
                ({{ sub_chapter_count }})
              </span>
            </h2>
          </span>
          <a
            href="#{{ chapter_group_id }}"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-label="{{ chapter_group_id }}-trigger"
            class="category-trigger hide-border-bottom"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        </div>
        <div id="{{ chapter_group_id }}" class="collapse" aria-labelledby="{{ chapter_group_id }}">
          <ul class="list-group list-group-flush">
            {% assign sorted_chapters = chapter_group.items | sort: "order" %}
            {% for chapter in sorted_chapters %}
              <li class="list-group-item">
                <a href="{{ chapter.url | relative_url }}">{{ chapter.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>